.game-board {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 15px;
    margin-top: 115px;
    margin-bottom: 90px;
}

@media (max-width: 900px) {
    .game-board {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 450px) {
    .game-board {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 100px;
    }
}